<div class="container mar-t-90">
    <section class="col-md-12">
        <div ng-include src="'views/filters/filters.html'"></div>
        <!--<div class="box">
            <div class="col-md-12 col-sm-12 pad-right-5">

                <ul>
                    <li>
                        <input type="radio" id="a-option" name="selector" checked>
                        <label for="a-option">All</label>

                        <div class="check"></div>
                    </li>
                    <li>
                        <input type="radio" id="f-option" name="selector">
                        <label for="f-option">0-30</label>

                        <div class="check"></div>
                    </li>

                    <li>
                        <input type="radio" id="s-option" name="selector">
                        <label for="s-option">31-60</label>

                        <div class="check"><div class="inside"></div></div>
                    </li>

                    <li>
                        <input type="radio" id="t-option" name="selector">
                        <label for="t-option">61-90</label>

                        <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                        <input type="radio" id="ft-option" name="selector">
                        <label for="ft-option">90-120</label>

                        <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                        <input type="radio" id="ff-option" name="selector">
                        <label for="ff-option">120+</label>

                        <div class="check"><div class="inside"></div></div>
                    </li>
                </ul>
                <button type="button" class="btn btn-sm pull-right" id="btnAdd" data-toggle="tooltip" title="Add Filter">
                    Send to QA
                </button>
            </div>
        </div>-->

        <h1><span class="fa fa-table" aria-hidden="true"></span> Account Details</h1>
       
        <div class="accounDetailsGrid" ui-grid="gridoptions" ui-grid-paginationclass="myGrid" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-grouping style="height:350px!important"></div>
        <!--<button type=button id="btn1" name="btn" ng-click="myfunc()">Rebind</button>-->
    </section>
</div>